<html>
    <head>
        <title>Register</title>
    </head>
    <body>
    <form class="form-horizontal" method="POST">
        <div class="control-group">
            <label class="control-label">Name:</label> {{form.name}}<br>
        </div>
        <div class="control-group">
            <label class="control-label">Username:</label> {{form.username}}<br>
        </div>
        <div class="control-group">
            <label class="control-label">Password:</label> {{form.password}}<br>
        </div>
        <div class="control-group">
            <label class="control-label">Confirm Password:</label> {{form.confirm_pass}}<br>
        </div>
        <div class="control-group">
            <div class="controls">
                <input class="btn" type="submit" value="Register"><br>
            </div>
        </div>
    </form>
        {{message}}
    </body>
</html>
